<template>
  <div>
    <header>
      
    </header>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9 col-sm-12"> 
        <div class="table_container">
          <h1>Your Orders</h1>
          <b-table
            id="table-transition-example"
            class="table_order"
            :items="info"
            :fields="fields" 
            striped
            sortable
            hover
            responsive="md"
            primary-key="item"
            :tbody-transition-props="transProps"
          >
          <!-- A virtual composite column -->

          <template #cell(item)="data">
            <div class="prod_item">
              <p>{{data.item.item}}</p>
            </div>
          </template>

          <template class="'hello'" #cell(description)="data"> 
            <div class="prod_description">
              <p>{{data.item.description}}</p>
            </div>
          </template>
          
          <template #cell(image)="data">
            <div class="prod_image"> <img  :src="data.item.image" :alt="data.item.item" /> </div>
          </template>

          <template #cell(quantity)="data">
            <div class="prod_quantity"> 

              <button class="add_minus" v-on:click="data.item.quantity -= 1"> - </button>
                <span class="prod_counter"> {{data.item.quantity}} </span>
              <button class="add_minus" v-on:click="data.item.quantity += 1"> + </button>
            </div>
          </template>

          <template #cell(delete)="">
            <div class="prod_delete text-center">    
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            </div>
          </template>

          </b-table>
        </div>
        <div class="prod_update-btn mt-2 text-right">
          <button type="button" class="btn text-uppercase btn-outline-danger font-bold font-weight-bold">Cancel Order</button> 
          <button type="button" class="btn text-uppercase btn-outline-info font-bold font-weight-bold">Update Order</button>
        </div>


      </div>
      <div class="col-md-3">
        <div class="prod_total">
          <h2 class="text-uppercase mb-2">Order Summary Total</h2>
          <div class="prod_total-wrapper">
            <div class="row">
              <div class="col-md-8"><h3 class="prod_quantity"> Order Quantity: </h3></div>
              <div class="col-md-4"><h3 class="prod_quantity text-right"><span>{{totalqty}} </span></h3></div>
            </div>
            <hr />
            <div class="row mb-4">
              <div class="col-md-8"><h3 class="prod_total-price"> Order Quantity: </h3></div>
              <div class="col-md-4"><h3 class="prod_total-price text-right"><span>${{totalPrice}}.00 </span></h3></div>
            </div>
            <small><i>* Includes freight & other charges ex GST</i></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-2 mt-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9 col-sm-12">
        <b-card bg-variant="light">
          <b-form-group
            label-cols-lg="3"
            label="Shipping Info"
            label-size="lg"
            label-class="font-weight-bold pt-0"
            class="mb-0"
          >

            <b-form-group
              label="Email:"
              label-for="nested-emial"
              label-cols-sm="3"
              label-align-sm="right"
            >
              <b-form-input id="nested-email"></b-form-input>
            </b-form-group>

            <b-form-group
              label="Name:"
              label-for="nested-name"
              label-cols-sm="3"
              label-align-sm="right"
            >
              <b-form-input id="nested-street"></b-form-input>
            </b-form-group>

            <b-form-group
              label="Last Name:"
              label-for="nested-lastname"
              label-cols-sm="3"
              label-align-sm="right"
            >
              <b-form-input id="nested-city"></b-form-input>
            </b-form-group>

            <b-form-group
              label="Address:"
              label-for="nested-address"
              label-cols-sm="3"
              label-align-sm="right"
            >
              <b-form-input id="nested-address"></b-form-input>
            </b-form-group>


            <b-form-group
              label="State:"
              label-for="nested-state"
              label-cols-sm="3"
              label-align-sm="right"
            >
            <b-form-select
              id="inline-form-custom-select-pref"
              class="mb-2 mr-sm-2 mb-sm-0"
              :options="[{ text: 'Choose...', value: null }, 'NSW', 'VIC', 'NT']"
              :value="null"
              label-align-sm="right"
              label="State:"
              label-for="nested-state"
            ></b-form-select>
            </b-form-group>
          </b-form-group>
        </b-card>
        <div class="prod_update-btn mt-2 text-right">
          <button type="button" class="btn text-uppercase btn-outline-success font-bold font-weight-bold">Place Order</button>
        </div>
      </div>
    </div>
  </div>
</section>

  </div>
</template>

<script>
  export default {
    data() { 
      return {
        info: [],
        totalPrice: 0,
        totalqty: 0,
        //image: null,


        transProps: {
          // Transition name
          name: 'flip-list'
        },
        items: [],
        fields: []
      }
    },
    mounted () {
      this.loadJsonData()
    },

    methods: {
      loadJsonData() {
        const url = "https://poc3.netlify.app/data.json"
        setTimeout(()=>{
          this.$axios.get(url)
            .then(response => {
              this.info = response.data;
              this.getTableColumns();
              this.calculateTotalPrice();
              this.calculateTotalqty()
            })
            .catch(error => {
              console.log(error)
              this.errored = true
            })
            .finally(() => this.loading = false)
          }, 300)
      },
      getTableColumns() {
          var fields = [];
          var keys = this.info[0];
          Object.keys(keys).forEach(key => {
            fields.push({key: key, sortable: true})
          });
          this.fields = fields;
      },
      calculateTotalPrice() {
        var prices =this.info.filter(function(obj) {
          if ('price' in obj) {
            return true;
          } else {
            return false;
          }
        }).map(function(obj) { return obj['price']; });

        //console.log(prices);
        this.totalPrice = prices.reduce((a, b) => a + b, 0);
      },
      calculateTotalqty() {
        var qty =this.info.filter(function(obj) {
          if ('quantity' in obj) {
            return true;
          } else {
            return false;
          }
        }).map(function(obj) { return obj['quantity']; });

        //console.log(prices);
        this.totalqty = qty.reduce((a, b) => a + b, 0);
      },
    }
}
</script>

<style>

header {
  padding: 40px 20px;
}

.table_container {
  border: 2px solid #eee;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 0px 10px 2px #eee;
}
table#table-transition-example .flip-list-move {
  transition: transform 1s;
}
table {
    table-layout: fixed;
    width: 500px;
}
.table_order {
  font-size: 18px;
  font-weight: bold;

}


.table_container h1 {
  color: #4c9e00;
  font-size: 24px;
  text-transform: uppercase;
}
.prod_item p {
  font-weight: 600;
}

.prod_description p {
  font-weight: normal;
  font-size: 15px;
}
/* .prod_description {
  max-width: 300px;
}
.prod_image {
  max-width: 200px; 
}*/
.prod_image img {
  max-width: 60px;
}

.prod_total { 
  padding: 20px;
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 2px 0px 10px 2px #eee;
  border: 1px solid #eee;
}

h3.prod_quantity, h3.prod_total-price {
  font-size: 18px;
  font-weight: 700;
}

.prod_total-wrapper {
  padding-top: 20px;
}

.prod_total h2 {
  font-size: 20px;
  color: #4c9e00;
}

.prod_counter {
  /* border: 1px solid #000;
  background-color: #eee;
  padding: 4px; */
}

body, table, p {
  color: #636363 !important;
}

.add_minus {
  border: none;
  background-color: transparent;    
  font-size: 16px;
  font-weight: bold;
}

</style>